<footer id="footer" class="hoc clear">
	<!-- ################################################################################################ -->
	<div class="group">
		<div>
			<h1 class="logoname"><a href="index.html">Happy<span>Me</span></a></h1>
			<p>HAPPYME is an online counseling platform, catering to the unique mental health needs of Asians
				across the
				globe. We strive to create a safe space by allowing individuals to tell their story in a
				supportive &
				non-judgmental environment.
				<a href="/about">Show more</a>
			</p>
		</div>
	</div>

	<!-- ################################################################################################ -->
	<figure id="ctdetails">
		<ul class="nospace group">
			<li class="one_third first">
				<div class="clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a
							call:</strong> +91
						9850533892</span></div>
			</li>
			<li class="one_third">
				<div class="clear"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=happymeinfinity0@gmail.com"><i class="fas fa-envelope"></i></a> <span><strong>Send us a
							mail:</strong>happymeinfinity0@gmail.com</span></div>
			</li>
			<li class="one_third">
				<div class="clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come
							visit
							us:</strong> Directions to <a href="https://goo.gl/maps/3N94zSR7ChwQhWNg8">our
							location</a></span>
				</div>
			</li>
		</ul>
	</figure>
	<!-- ################################################################################################ -->
</footer>
