{% include"__header.html" %}
<div class="wrapper overlay row0">
	<div id="topbar" class="hoc clear">
		<div class="fl_left">
			<!-- ################################################################################################ -->
			<ul class="nospace">
				<li><i class="fas fa-envelope"></i>happymeinfinity0@gmail.com</li>
			</ul>
			<!-- ################################################################################################ -->
		</div>
		<div class="fl_right">
			<!-- ################################################################################################ -->
			<ul class="nospace">
				<li><a href="/"><i class="fas fa-home"></i></a></li>
				<li><a href="help.html" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
				<li><a href="/authentication" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
				<li><a href="/registration" title="Sign Up"><i class="fas fa-edit"></i></a></li>
			</ul>
			<!-- ################################################################################################ -->
		</div>
	</div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url({{url_for('static', filename='images/demo/backgrounds/clinic.jpg')}});">

	<!-- ################################################################################################ -->
	{% include "__navigation.html" %}
	<div id="pageintro" class="hoc clear"> 
	</div>
</div>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
	<main class="hoc container clear">
		<!-- main body -->
		<section id="introblocks" class="row3 inspace-30 clear" style="margin: auto 0;text-align: center;width: 90%;">
			<div class="one_half first">
				<p class="heading font-x3">About Us</p>
			</div>
		</section>
		<!-- / main body -->
		<div class="clear"></div>
	</main>
</div>

<div class="wrapper row2">
	<article class="hoc container clear">
		<center><br>
			<b>
				<p> We understand the impact mental health struggles have on people’s lives. We’ve been there ourselves.
				</p>
				<p>HAPPYME is an online counseling platform, catering to the unique mental health needs of people across
					the
					globe. We strive to create a safe space by allowing individuals to tell their story in a supportive
					&
					non-judgmental environment.</p>
				<p>Our Psychologists, Counselors & Therapists bring a diverse set of expertise, experience & skill sets
					to
					address concerns related to stress, anxiety, depression, trauma, bereavement as well as coping with
					relationship challenges, work-related issues, daily stressors and life transitions.</p>
				<p>We firmly believe that mental health therapy is universally beneficial to Anyone & Everyone. The uses
					of
					therapy extend far beyond addressing human crisis and tragedies; it enables individuals to tap into
					their core
					personality and wisdom to thrive.
				</p><br><br>
				<p> *** </p><br><br>
				<h1 class="heading font-x3">We’re proud of what we built</h1><br>
				<p>We are on a mission to help people in mental distress or anxiety by providing counseling services by
					experts,
					anytime anywhere, using technology. We believe that help should be available at very low costs and
					with
					minimum waiting times.</p>
				<p>Users around the world have told us it works and the evidence supports them. In a randomized study of
					500
					adults with mild to moderate anxiety and depression, our tools were shown to decrease their
					symptoms.</p>
				<p>In collaboration with therapists, doctors and researchers, we are working to build the most effective
					behavioral health care solution in the world and put it in the hands of everyone who needs it.
				</p>
		</center></b>
		<br>
	</article>
</div>
<div class="wrapper row3">
	<section class="hoc container clear">
	</section>
</div>



{% include '__copyRight.html' %}