{% include"__header.html" %}
    <div class="wrapper overlay row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li><i class="fas fa-envelope"></i>happymeinfinity0@gmail.com</li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
            <div class="fl_right">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
					<li><a href="help.html" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
					<li><a href="/authentication" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
					<li><a href="/registration" title="Sign Up"><i class="fas fa-edit"></i></a></li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div id="tree_plantation" class="bgded" style="background-image:url({{ url_for('static',filename='images/demo/backgrounds/tree.jpg') }});">
        <!-- ################################################################################################ -->
        {% include"__navigation.html"%}
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>

                <h3 class="heading">Tree Plantation</h3>
                <footer>
                    <ul class="nospace inline pushright">
                        <li><a class="btn" href="/registration">Join Us</a></li>
                    </ul>
                </footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <section id="introblocks" class="row3 inspace-30 clear">
                <div class="one_half first">

                    <p class="heading font-x3">Why Tree Plantation?</p>
                </div>
                <div class="one_half">
                    <ul class="nospace group">
                        <p> In terms of anxiety and depression, it has been found that those who walked for 15 minutes
                            in a forest experienced less symptoms, (and more vigor!),
                            compared to those walking in an urban setting, and Spending time around trees and looking at
                            trees reduces stress, lowers blood pressure and improves mood.
                            Numerous studies show that both exercising in forests and simply sitting looking at trees
                            reduce blood pressure as well as the stress-related hormones cortisol and adrenaline.</p>
                    </ul>
                </div>
            </section>
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <div id="meditation" class="bgded overlay" style="background-image:url({{ url_for('static',filename='images/demo/backgrounds/med.jpg') }});">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading font-x3">Meditation Compaign</h6>
            </div>
            <ul class="nospace group sd-third">
                <article class="hoc container clear">
                    <!-- ################################################################################################ -->
                    <div class="one_half first">
                        <h6 class="heading font-x3">How meditation helps in Depression ?</h6>
                        <p class="btmspace-30">A regular practice can help your brain better manage stress and anxiety
                            that can trigger depression.</p>
                        <p class="btmspace-30">The aim of meditation is not to push aside stress or block out negative
                            thinking, but rather to notice those thoughts and feelings, all the while understanding that
                            you don't have to act on them. This could be as simple as closing your eyes and repeating a
                            single phrase or word, or counting breaths.
                            "This helps provide some distance from those negative thoughts or stressful feelings,
                            allowing you to recognize that, although they affect you, they are not you".
                        </p>
                    </div>

                    <div class="one_half">

                        <h6 class="heading font-x3">How Yoga helps in Depression ?</h6>
                        <p class="btmspace-30">Regular yoga practice creates mental clarity and calmness; increases body
                            awareness; relieves chronic stress patterns; relaxes the mind; centers attention; and
                            sharpens concentration</p>
                        <p class="btmspace-30">Yoga strengthens parts of the brain that play a key role in memory,
                            attention, awareness, thought, and language.</p>
                    </div>

                    <!-- ################################################################################################ -->
                </article>


            </ul>
            <center>
                <footer>
                    <ul class="nospace inline pushright">
                        <li><a class="btn" href="/registration">Enroll</a></li>
                    </ul>
                    </footer< /center>
                    <!-- ################################################################################################ -->
        </section>
    </div>

    <div id="other_activities" class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <p class="nospace font-xs">How we handle our patients ?</p>
                <h6 class="heading font-x2">Arranging Different Events/Activities </h6>
            </div>
            <ul class="nospace group sd-third">
                <li class="one_third first">
                    <article><img src="{{ url_for('static',filename='images/demo/backgrounds/r4.jpg') }}" alt="">
                        <br><br>
                        <center>
                            <h6 class="heading">Gaming Competitions</h6>
                            <footer>
                                <ul class="nospace inline pushright">
                                    <li><a class="btn" href="/registration">Enroll</a></li>
                                </ul>
                            </footer>
                        </center>
                    </article>
                </li>
                <li class="one_third">
                    <article><img src="{{ url_for('static',filename='images/demo/backgrounds/r1.jpg') }}" alt="">
                        <br><br>
                        <center>
                            <h6 class="heading">Motivational Sessions</h6>
                            <footer>
                                <ul class="nospace inline pushright">
                                    <li><a class="btn" href="/registration">Join Us</a></li>
                                </ul>
                            </footer>
                        </center>

                    </article>
                </li>
                <li class="one_third">
                    <article><img src="{{ url_for('static',filename='images/demo/backgrounds/r3.jpg') }}" alt="">
                        <br><br>
                        <center>
                            <h6 class="heading">Many More...</h6>
                            <footer>
                                <ul class="nospace inline pushright">
                                    <li><a class="btn" href="/registration">See Activities</a></li>
                                </ul>
                            </footer>
                        </center>
                    </article>
                </li>
            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>
    

    {% include"__copyRight.html" %}