{% include "__header.html" %}
{% include '__navigation.html' %}
<div class="containerx">
    <div class="sub-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="/forgotpassword" method="POST" class="form-section">
            <span class="group-1">
                <label for="eml">Enter your registered email ID</label>
                <input type="email" name="email" id="eml" class="inp-section"  style="padding:10px;">
            </span>
            <input type="submit" class="submit btn btn--primary " style="width:250px; align-self: center;" value="Get old password">
        </form>
    </div>
</div>

{% include "__header.html" %}