{% include "__header.html" %}
    {% if session['stress'] == "None" %}
    {% include '__surveyForm.html' %}
    <script>
        setTimeout(function () {
            document.getElementById("surveyForm").classList.toggle("popup");
            document.getElementById('top').classList.toggle('make-blur');
        }, 1000);

    </script>
    {% endif %}
    <div class="wrapper overlay row0">

    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded" >
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            {% include"__userNavigation.html" %}
        </div>
        <div class="containerx">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{category}}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <a class="link" style="padding:10px; border: 1px solid lightgrey; border-radius:3px; " href="/eventRegistration">Register for an event or activity</a>
            <div class="activities">
                {% if bookings %}
                {% for booking in bookings.bookings %}
                <div class="booked-activity ">
                    <div class="sh-part1">
                        <span class="activity-status " style="display: flex; justify-content: flex-start; flex-wrap: wrap;">
                            <h1 style="font-weight: 700; margin:auto 10px;"> {{loop.index}} </h1> <h2 style="margin: auto 5px;" class="{% if booking.current_status == 'scheduled' %} col-sch {% elif booking.current_status == 'on-going' %} col-ongoing {% elif booking.current_status == 'complete' %} col-com {% endif %} ">{{booking.current_status}}</h2>
                            
                        </span>
                    </div>
                   <div class="sh-part2">
                        <span class="activity-duration">
                            <label for="">Start Time : {% set st= booking.activity.start_time.split("T") %} {{st[0]}} &nbsp; {{st[1]}}</label>
                            <label for="">End Time : {% set st= booking.activity.end_time.split("T") %} {{st[0]}} &nbsp; {{st[1]}}</label>
                        </span>
                        <h2>{{booking.activity.a_name}}</h2>
                        <h3>Summary</h3>
                        <p class="activity-summary">{{booking.activity.summary}}</p>
                        <h3>Venue</h3>
                        <p class="activity-venue">{{booking.activity.venue}}</p>
                        {% if booking.admin_msg %}
                        <h3 class="heading-2">Message from admin</h3>
                            <p>
                                {{booking.admin_msg}}
                            </p>
                        {% endif %}
                   </div>
                
                    
                   
                </div>
                {% endfor %}
                {% else %}
                <h1>{{bookings.msg}}</h1>
                {% endif %}
            </div>
        </div>
       
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->



            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>

{% include "__copyRight.html" %}