{% include "__header.html"%}
{% include '__navigation.html' %}
<div class="containerx">
    <div class="sub-containerx">

        <form action="" class="form-section" method="POST" autocomplete="off" onsubmit="return login_validation();">
            <h2 style="margin: 5%;">Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{category}}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <span class="group-1">
                <label for="eml">Email Id</label>
                <input type="email" name="email" id="eml" placeholder="example@domain.com" class="icon eml inp-section"
                    required>
            </span>
            <span class="group-1">
                <label for="pa">Password</label>
                <input type="password" name="password" id="pa" class="icon pass inp-section" placeholder="Password"
                    required>
            </span>

            <input type="submit" value="Sign in" class="submit btn btn--primary half-width">
            <br>
            <hr>
            <a class="link" href="/forgotpassword">Forgot password </a>
            <a class="link" href="/registration">Don't have an account ? </a>
        </form>

        <div class="card-1">
            <h1 class="heading-1">Welcome to happy me!</h1>
            <img src="{{url_for('static', filename='images/hello.png' )}}" alt="">
        </div>
    </div>
</div>
{% include '__copyRight.html' %}